.section {
  margin-right: auto;
  margin-left: auto;
}
.node {
box-sizing: border-box;
line-height: 1em;
overflow: hidden;
position: absolute;
white-space: pre;
background: #ddd;
}

.node-label,
.node-value {
margin: 4px;
}

.node-value {
margin-top: -2px;
}

.node-value {
font-weight: bold;
}

path {
stroke: #fff;
}

#explanation {
position: relative;
color: #666;
}

#countString {
font-size: 1.5em;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
